In [1]:
#all the necessary packages
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import statsmodels.formula.api as statsmod

In [2]:
car_sales = pd.read_csv("toyota.csv")

In [3]:
print(car_sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6738 entries, 0 to 6737
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         6738 non-null   object
 1   year          6738 non-null   int64
 2   price         6738 non-null   int64
 3   transmission  6738 non-null   object
 4   mileage       6738 non-null   int64
 5   fuelType      6738 non-null   object
 6   tax           6738 non-null   int64
 7   mpg           6738 non-null   float64
 8   engineSize    6738 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 473.9+ KB
None

# **Data validation**
## **Columns "model" and "fuelType**

Models : ' Auris', ' Avensis', ' Aygo', ' C-HR', ' Camry', ' Corolla', ' GT86',
       ' Hilux', ' IQ', ' Land Cruiser', ' PROACE VERSO', ' Prius', ' RAV4',
       ' Supra', ' Urban Cruiser', ' Verso', ' Verso-S', ' Yaris'

Fuel types : 'Diesel', 'Hybrid', 'Other', 'Petrol'

I made a table crosstab to see the type of fuel each of our models offer.

Model       |   Diesel | Hybrid | Other | Petrol
--------    |  ------- | ------ | ----- | -----                                                         
Auris       |       42 |    498 |     1 |    171
Avensis     |       76 |      0 |     0 |     39
Aygo        |        0 |      0 |    59 |   1902
C-HR        |        0 |    352 |     7 |    120
Camry       |        0 |     11 |     0 |      0
Corolla     |        1 |    181 |     2 |     83
GT86        |        0 |      0 |     0 |     73
Hilux       |       86 |      0 |     0 |      0
IQ          |        0 |      0 |     0 |      8
Land Cruiser|       51 |      0 |     0 |      0
PROACE VERSO |      15 |      0 |     0 |      0
Prius       |        0 |    214 |    18 |      0
RAV4        |      180 |    230 |     5 |     58
Supra       |        0 |      0 |     1 |     11
Urban Cruiser |      1 |      0 |     0 |      3
Verso       |       29 |      0 |     2 |     83
Verso-S     |        0 |      0 |     0 |      3
Yaris       |       22 |    557 |    10 |   1533

In [15]:
car_sales[["model","fuelType"]] = car_sales[["model","fuelType"]].astype("category")
models = car_sales["model"].cat.categories
fuel_types = car_sales["fuelType"].cat.categories
nb_fuelType_per_model = pd.crosstab(car_sales["model"], car_sales["fuelType"])
print(nb_fuelType_per_model)

fuelType       Diesel  Hybrid  Other  Petrol
model
Auris              42     498      1     171
Avensis            76       0      0      39
Aygo                0       0     59    1902
C-HR                0     352      7     120
Camry               0      11      0       0
Corolla             1     181      2      83
GT86                0       0      0      73
Hilux              86       0      0       0
IQ                  0       0      0       8
Land Cruiser       51       0      0       0
PROACE VERSO       15       0      0       0
Prius               0     214     18       0
RAV4              180     230      5      58
Supra               0       0      1      11
Urban Cruiser       1       0      0       3
Verso              29       0      2      83
Verso-S             0       0      0       3
Yaris              22     557     10    1533

In [5]:
car_sales[["fuelType", "model", "transmission"]] = car_sales[["fuelType", "model", "transmission"]].astype("category")
print(car_sales["fuelType"].cat.categories)

Index(['Diesel', 'Hybrid', 'Other', 'Petrol'], dtype='object')

In [6]:
print(car_sales["fuelType"].value_counts())

fuelType
Petrol    4087
Hybrid    2043
Diesel     503
Other      105
Name: count, dtype: int64

In [7]:
print(car_sales["transmission"].isna().sum())
print(car_sales["transmission"].cat.categories)

0
Index(['Automatic', 'Manual', 'Other', 'Semi-Auto'], dtype='object')

In [8]:
print(car_sales.groupby("fuelType")["transmission"].value_counts())

fuelType  transmission
Diesel    Manual           378
          Automatic         97
          Semi-Auto         28
          Other              0
Hybrid    Automatic       2038
          Manual             4
          Other              1
          Semi-Auto          0
Other     Automatic        100
          Manual             5
          Other              0
          Semi-Auto          0
Petrol    Manual          3439
          Automatic        422
          Semi-Auto        226
          Other              0
Name: count, dtype: int64

C:\Users\Angelique\AppData\Local\Temp\ipykernel_12480\1871893609.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(car_sales.groupby("fuelType")["transmission"].value_counts())

In [9]:
#what I think are actually e-cars
potential_e_cars = car_sales[(car_sales["fuelType"] == "Other") & (car_sales["transmission"] == "Automatic")]
print(potential_e_cars.head())

        model  year  price transmission  mileage fuelType  tax   mpg  \
73    Corolla  2019  22500    Automatic     8006    Other  140  85.6
307   Corolla  2020  25990    Automatic     1112    Other  135  53.3
340      RAV4  2019  30500    Automatic    13326    Other  140  51.1
768      RAV4  2017  18000    Automatic    26972    Other  205  43.5
769      RAV4  2017  20000    Automatic     4909    Other  200  43.5

     engineSize
73          1.8
307         2.0
340         2.5
768         2.0
769         2.0